    @media only screen and (min-width: 600px) {
      .container {
        width: 100%;
      }

      .card {
        width: 80%;
      }

      h1 {
        margin: 0 auto;
      }

      #timer-display-container {
        position: absolute;
        top: 10%;
        right:10%;
        /* overflow: hidden; */
        width: 30%;
      }

      #timer-display {
        /* max-width: 100%; */
        font-size: 10px;
        /* text-align: right; */
      }

      .game {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
      }
      #start-screen {
        width: 50%;
      }
      #high-score-display {
        width: 50%;
      }
      #end-screen {
        width: 50%;
      }
    }

    @media only screen and (min-width: 992px) {
      .card {
        width: 60%;
      }

      h1 {
        margin: 0 auto;
      }

      #timer-display-container {
        overflow: hidden;
        width: 50%;
      }

      #timer-display {
        max-width: 100%;
        font-size: 10px;
        text-align: right;
      }

      .game {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
      }
      #start-screen {
        width: 80%;
      }
      #high-score-display {
        width: 80%;
      }
      #end-screen {
        width: 80%;
      }
    }