    body {
      background-color: rgb(83, 81, 81);
      margin: 0;
      padding: 0;
    }
    .container {
      width: 100%;
      padding: 0 15px;
    }

    .card {
      width: 100%;
      margin-bottom: 15px;
    }
  
    /* #timer-display-container {
      overflow: hidden;
      width: 100%;
    }

    #timer-display {
      max-width: 100%;
      font-size: 10px;
      text-align: right;
    } */
  
    @media only screen and (min-width: 600px) {
      .container {
        width: 100%;
      }
      .card {
        width: 100%;
      }
    }

    @media only screen and (min-width: 992px) {
      .card {
        width: 25%;
      }
    }
