body {
  background-color: rgb(83, 81, 81);
  margin: 0 auto;
  padding: 20px;
}

.container {
  width: 100%;
  padding: 0 30px;
}

.card {
  width: 100%; /* Full width on mobile */
}

#timer-display-container {
  display: block; /* Stack items vertically on mobile */
  width: 100%;
  position: relative;
  top: auto;
  right: auto;
}

#timer-display {
  font-size: 10px;
  text-align: center; /* Center text on mobile */
  position: relative;
  width: 100%;
}

.game {
  grid-template-columns: repeat(1, 1fr); /* Single column on mobile */
  gap: 1rem;
}

#start-screen,
#high-score-display,
#end-screen {
  width: 100%; /* Full width on mobile */
}

@media only screen and (min-width: 600px) {
  .card {
      width: 50%;
  }

  #timer-display-container {
      width: 30%;
  }

  #timer-display {
      position: relative;
  }

  .game {
      grid-template-columns: repeat(4, 1fr);
  }

  #start-screen,
  #high-score-display,
  #end-screen {
      width: 50%;
  }
}